@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'IranSans'; /*a name to be used later*/
    src: './font/IRANSansXV.ttf'; /*URL to font*/
}

@font-face {
    font-family: IranSans;
    src: url(./font/IRANSansXV.ttf);
}

body {
    margin: 0;
    padding: 0;
    background: #1c3c46;
    font-family: IranSans;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfeff;
    z-index: 9999;
}

.loader h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 10em;
    color: rgba(0, 0, 0, 0.2);
    background-image: url(https://image.ibb.co/ciSeac/image.png);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        background-position: left 0px top 80px;
    }
    40% {
        background-position: left 800px top -50px;
    }
    80% {
        background-position: left 1800px top -50px;
    }
    100% {
        background-position: left 2400px top 80px;
    }
}
